<mat-card>
  <h2>🩺 Agendar nueva cita</h2>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step label="Especialidad">
      <app-seleccionar-especialidad (especialidadSeleccionada)="onEspecialidadSeleccionada($event)" [formGroup]="formEspecialidad"></app-seleccionar-especialidad>
      <div>
        <button mat-button matStepperNext [disabled]="formEspecialidad.invalid">Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Médico">
      <app-seleccionar-medico [especialidad]="especialidad" (medicoSeleccionado)="onMedicoSeleccionado($event)" [formGroup]="formMedico"></app-seleccionar-medico>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext [disabled]="formMedico.invalid">Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Fecha y hora">
      <!--<app-seleccionar-fecha-hora [medico]="medico" (horarioSeleccionado)="onHorarioSeleccionado($event)" [formGroup]="formHorario"></app-seleccionar-fecha-hora>-->
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext [disabled]="formHorario.invalid">Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Confirmar">
      <!--<app-confirmar-cita [data]="resumenCita" (confirmar)="onConfirmar()"></app-confirmar-cita>-->
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
