<button
  class="btn-back"
  (click)="volverInicio()"
  *ngIf="!mostrarRegistro"
  mat-icon-button
>
  <mat-icon>arrow_back</mat-icon>
</button>

<div fxLayout="column" fxLayoutAlign="center center" class="login-container">
  <mat-card class="login-card" [ngClass]="mostrarRegistro ? 'registro-width' : 'login-width'">
    <mat-card-header fxLayoutAlign="center center" class="login-header" style="height: 15%;">
      <mat-card-title>
        <h2 class="text-center mb-1 login-title">
          {{ mostrarRegistro ? "Registrarse" : "Login" }}
        </h2>
      </mat-card-title>
    </mat-card-header>

    @if (!mostrarRegistro) {
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
          <mat-label>Introduce tu correo electrónico</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            El correo no es valido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Introduce tu contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
            required
          />
          <mat-error
            *ngIf="loginForm.get('password')?.hasError('required')"
          >
            La contraseña es obligatorio
          </mat-error>
          <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)">
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="login-button full-width"
        >
          Iniciar sesión
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <span class="register-text"
        >¿Aún no tienes cuenta?
        <a href="#" (click)="alternarFormulario($event)">Regístrate aquí</a>
      </span>
    </mat-card-actions>

    } @if (mostrarRegistro) {
    <button
      class="btn-close float-end"
      (click)="alternarFormulario($event)"
    ></button>
   <mat-card-content>
  <form (ngSubmit)="registrar()" [formGroup]="registroForm">
    <div fxLayout="row wrap" fxLayoutGap="20px">
      <!-- Columna 1 -->
      <div fxFlex="45%">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required />
          <mat-error *ngIf="registroForm.get('nombre')?.hasError('required')">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" required />
          <mat-error *ngIf="registroForm.get('apellido')?.hasError('required')">
            El apellido es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo" required>
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Femenino">Femenino</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" required type="email" />
          <mat-error *ngIf="registroForm.get('email')?.hasError('required')">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="registroForm.get('email')?.hasError('email')">
            El correo no es válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" formControlName="contrasenia" required />
          <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)">
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="registroForm.get('contrasenia')?.hasError('required')">
            La contraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="registroForm.get('contrasenia')?.hasError('minlength')">
            Debe tener al menos 6 caracteres
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Columna 2 -->
      <div fxFlex="45%">
        

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registroForm.get('fechaNacimiento')?.hasError('required')">
            La fecha es obligatoria
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Talla</mat-label>
          <input matInput formControlName="talla" required />
          <mat-error *ngIf="registroForm.get('talla')?.hasError('required')">
            La talla es obligatoria
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Grupo Sanguíneo</mat-label>
          <input matInput formControlName="grupoSanguineo" required />
          <mat-error *ngIf="registroForm.get('grupoSanguineo')?.hasError('required')">
            Obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" />
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" />
        </mat-form-field>
      </div>
    </div>

    <div class="text-center mt-3">
      <button type="submit" mat-raised-button color="primary" class="login-button full-width">
        Registrarse
      </button>
    </div>
  </form>
</mat-card-content>
    }
  </mat-card>
</div>

