<div class="container mt-5">
    <div class="header">
        <h1>Sistema Gestión de Citas</h1>
        <h3>Registrar una nueva cita</h3>
      </div>
    <div class="card p-4">
      <!-- Encabezado con fondo azul -->
    
      
      <h5 class="text-center mt-4">Seleccione la especialidad y el medico</h5>
      
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="especialidad" class="form-label"><strong>Especialidad:</strong></label>
            <select id="especialidad" class="form-select" (change)="onEspecialidadChange($event)">
              <option selected>- seleccionar -</option>
              <option *ngFor="let esp of especialidades" [value]="esp.id">{{ esp.nombre }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="doctor" class="form-label"><strong>Medico:</strong></label>
            <select id="doctor" class="form-select" (change)="onDoctorChange($event)">
              <option selected>- seleccionar -</option>
              <option *ngFor="let doc of medicos" [value]="doc.id">{{ doc.nombre }}</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="p-3 bg-warning rounded">
            <p><strong>Especialidad:</strong> {{ especialidadSeleccionada }}</p>
            <p><strong>Medico:</strong> {{ doctorSeleccionado }}</p>
            <p><strong>Costo:</strong>  s/. 40</p>
            <p><strong>Duración:</strong> 30 min</p>
          </div>
        </div>
      </div>
      
      <div class="text-end mt-3">
        <button class="btn btn-primary" (click)="irAAgenda()">Siguiente</button>
      </div>
    </div>
  </div>
